<form action="/answer" data-turbo="false">
  <label for="exampleFormControlInput1" class="form-label">What is your question for the coach?</label>
  <input type="text" name="question" class="form-control" id="exampleFormControlInput1">
  <input type="submit" value="Ask!" type="button" class="btn btn-info mt-2">
</form>
